<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @book.rating %>
</p>

  <% if @reviews.blank? %> 
    <%= link_to "Write the first review!", new_book_review_path(@book), class: "btn btn-danger" %>
  <% else %> 
    <% @reviews.each do |r| %> 
      <div class="reviews">
        <div class="star-rating" data-score= <%= r.rating %> ></div>
        <p><%= r.comment %></p>
      </div>
    <% end %>
  <% end %> 

<p>
  <strong>Review:</strong>
  <%= @book.review %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>

<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });

</script>
